# Data & Output

## Data
data/
input/
import/
*.csv
*.txt
*.parquet
*.pqt
*.dta
*.sav
*.avro
*.orc
*.xml
*.shp
*.dbf
*.sql
*.rds

## Output
output/
export/
*.html
*.htm
*.pdf
# Règle d'annulation (Inclusion) : ré-inclut le répertoire documentation/, même pour les fichiers pdf par exemple
!documentation/
!documentation/*.pdf
!documentation/*.odt
!documentation/*.ods

# EXCEL & CALC

## Data
*.xls
*.xlsx
*.xlsm
*.ods

# SAS

## Data
*.sas7baud
*.sas7bdat
*.sas7bvew
*.sas7bndx
*.sas7bcat
*.sas7bacs
*.sas7bfdb
*.sas7bmdb
*.sas7bdmd
*.sas7bitm
*.sas7butl
*.sas7bput
*.sas7bbak

# R

## Data
.RData
.RDataTmp

## History files
.Rhistory
.Rapp.history

## User-specific files
.Ruserdata

## Example code in package build process
*-Ex.R

## Output files from R CMD build
/*.tar.gz

## Output files from R CMD check
/*.Rcheck/

## RStudio files
.Rproj.user/

## OAuth2 token
.httr-oauth

## knitr and R markdown default cache directories
*_cache/
/cache/

## Temporary files created by R markdown
*.utf8.md
*.knit.md

## R Environment Variables
.Renviron

## pkgdown site
docs/

## translation temp files
po/*~

## RStudio Connect folder
rsconnect/

## R package: bookdown caching files
/*_files/

# PRODUCTION

## Environments
.env
.venv

## Library
downloads/
lib/
lib64/

## Build
build/

### Credits : gitignore.io & Insee FR